# Node
node_modules/
dist/

# Python
__pycache__/
*.pyc
.venv/

# Environment
.env

# Logs
*.log

# OS
.DS_Store

# AI Hub STT raw data
ai/stt/data/raw/
ai/stt/data/processed/
ai/data/raw/
ai/data/processed/stt/*.csv
ai/stt/results/*.csv
